.deps
*.lo
*.la
*.o
.dirstamp
autom4te.cache
aclocal.m4
TRex-Server/config.*
TRex-Server/configure
TRex-Server/libtool
TRex-Server/Makefile
TRex-Server/Makefile.in
TRex-Server/session.log
TRex-Server/src/Makefile
TRex-Server/src/Makefile.in
TRex-Server/src/TRexServer
TRex-Server/stamp-h1
TRex2-lib/config.*
TRex2-lib/configure
TRex2-lib/libtool
TRex2-lib/Makefile
TRex2-lib/Makefile.in
TRex2-lib/src/Makefile
TRex2-lib/src/Makefile.in
TRex2-lib/src/.libs/
TRex2-lib/stamp-h1
html/
